<html>
<head>
   <meta charset="UTF-8">
   <title>COVID-19 Vaccine Tracker</title>
</head>
<body>
  <center>
<a href="/index.html">Home</a>
<a href='/vaccines'>Vaccines</a>
<a href="/appointments">Appointments</a>
<a href="/patients">Patients</a>
<a href="/clinics">Clinics</a>
<a href="/clinicians">Clinicians</a>
<a href="/manufacturers">Manufacturers</a></body>
<center><h1>Vaccines Administered Tracker</h1></center>
<center><form id="addVac" action="/manufacturers" method="post" style="margin:10;float:left;width: 30%">
      <label for="cert">Administered:</label>
      <input type="radio" id="administered" name="administered" value="True">True
      <input type="radio" id="administered" name="administered" value="False">False<br>
      <input type="submit" value="Submit">
  </form>
  </center>
 <center><form id="form"> 
   <input type="search" id="manufactID_search" name="manufactID_search" placeholder="Search Manufacturer ID">
   <input type="button" value="Search" onclick="searchManufacturers()">
 </form></center>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<TABLE style="margin: 0px auto;" BORDER="5"    WIDTH="90%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      </TH>
   </TR>
   <TR>
      <TH>Manufacturer ID</TH>
      <TH>Administered</TH>
   </TR>
   {{#each manufacturers}}
   <TR ALIGN="CENTER">
      <TD>{{manufactID}}</TD>
      <TD>{{administered}}</TD>
      <td><button onclick="deleteManufacturer({{manufactID}})">Delete</button></td>
   </TR>
   {{/each}}
   </TR>
</TABLE> 
</body>  
</html>
